@{
    //Created By Chidhirala

    ViewData["Title"] = "Sanjith Real Estate";
}

@model RealEstateModel

<!DOCTYPE html>
<html>
    <head>
        <!-- Created by Chidhirala-->
        <title>@ViewData["Title"]</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Lees Summit Electric Store</h1>
    <p>each Vent costs $3000 (included installation fee)</p>
        <p>Each Central AC costs $2500 (included installation fee) </p>
        <p>Estimated current bill cost per unit area - $20</p>

        <h3>Estimate your home Value</h3>

        <form asp-controller="Home" asp-action="Result" method="POST" >
            <p>
                <label asp-for="Name">Ac Brand</label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </p>
        <p>
            <label asp-for="Area">Area of house</label>
            <input asp-for="Area" />
            <span asp-validation-for="Area"></span>
        </p>
        <p>
            <label asp-for="BedRooms" > Number of AC's</label> 
            <select asp-for="BedRooms" asp-items="Model.BedRoomList"></select>
            <span asp-validation-for="BedRooms"></span>
        </p>
        <p>
            <label asp-for="Baths">Number of Vents</label>
            <input asp-for="Baths" />
            <span asp-validation-for="Baths"></span>
        </p>
        <p>
            <input type="submit" />
        </p>
        </form>
    </body>
</html>
